.product_detail_main_img {
    width: 100%;
    max-width: 240px;
}

.features_wrapper {
    border-right: 1px solid var(--main);
    margin-right: 20px;
}

@media screen and (max-width: 539px) {
    .features_wrapper {
      border-right: none;
      border-bottom: 1px solid var(--main);
      padding-bottom: 10px;
      margin-bottom:10px;
    }
  }