html {
    scroll-behavior: smooth;
  }
:root {
    --main: black;
    --medium: rgb(100,100,100,1);
    --light: rgb(220,220,220,1);
  }  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
}
main {
    border-right: 1px solid var(--medium); 
    border-left: 1px solid var(--medium); 
    flex: 1;
    max-width: 1024px;
    min-height: 100vh;
}

h1 {
    margin: 10px 0px;
}
h2 {
    margin: 10px 0px;
}
h3 {
    margin: 10px 0px;
}

p {
    margin: 10px 0px;
    padding: 2px 0px;
}

section {
    padding: 20px 20px;
}

hr {
    margin: 20px 20px;
    border: none;
    border-top: 1px solid var(--medium);
}

.logo_wrapper {
    display: flex;
    max-width: 250px;
}

.logo {
    flex: 1;
    max-width: 100%;
}

.product_wrapper {
    display: flex;
    border: 1px solid white;
    border-radius: 10px; 
    text-decoration: none;
    color: black;
    align-items: center;
    margin: 10px 0px;
}
.product_wrapper:hover {
    background-color: var(--light);
}
.product_desc {
    flex: 2;
    padding: 0px 10px;
}
.product_img_wrapper {
    flex: 1;
    max-width: 100px;
}
.product_img {
    width: 100%;
}

.copy_button {
    font-size: 20px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

@media screen and (max-width: 400px) {
    .product_wrapper {
      flex-direction: column;
    }
  }